
* {
  font-family: serif;
}

.demotivator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(55, 105, 124, 0.3);
  padding: 0 15px;

  &__heading {
    text-align: center;
    margin-bottom: 30px;
    color: rgba(36, 73, 87, 0.51);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: black;
    max-width: 400px;
    width: 100%;
  }

  &__img-drop {
    border: none;
    background: rgba(55, 105, 124, 0.3);
    padding: 10px 20px;
    color: #b4b4b4;
    border-radius: 30px;

    &__dropped {

    }

    input[type='file'] {
      display: none;
    }
  }


  &__img {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    border: 2px solid white;
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    color: white;
    text-align: center;
  }

  &__title {
    font-size: 25px;
  }

  &__subtitle {
    font-size: 20px;
  }

  &__input {
    margin-bottom: 30px;
    color: white;
    border: none;
    outline: none;
    background: transparent;
    text-align: center;

    &::placeholder {
      color: gray
    }
  }

  &__submit {
    margin-top: 30px;
    color: white;
    cursor: pointer;
    padding: 15px 30px;
    min-width: 150px;
    background: #2d6262;
    border-radius: 30px;
    border: none;
    font-size: 17px;
  }
}

